.Rproj.user
.Rhistory
.RData
.Ruserdata

input_data/AlpAKaS_dataset/
Catchment_approximation/temp/
Catchment_approximation/output_data/catchment_delineations/
input_data/meteo_data_prod/ERA5land/
input_data/static_data_prod/Copernicus_GLO30_DEM/
input_data/static_data_prod/EEA_Coastline/
Global_LSTM/preprocessed_data/dynamic/
Global_LSTM/preprocessed_data/static/
Global_LSTM/output_data/env/
Global_LSTM/output_data/rand/
Global_LSTM/plots/
Global_LSTM/output_data/parde_coefficient_cluster.csv
Global_LSTM/output_data/all_scores_median.csv