.Rproj.user
.Rhistory
.RData
.Ruserdata
Code.Rproj

# External input data
input_data/ALPAKAS/*
!input_data/ALPAKAS/.gitkeep

input_data/meteo_data_prod/ERA5land/*
!input_data/meteo_data_prod/ERA5land/.gitkeep

input_data/static_data_prod/Copernicus_GLO30_DEM/*
!input_data/static_data_prod/Copernicus_GLO30_DEM/.gitkeep

input_data/static_data_prod/EEA_Coastline/*
!input_data/static_data_prod/EEA_Coastline/.gitkeep


# Catchment approximation
Catchment_approximation/temp/

Catchment_approximation/output_data/catchment_delineations/*
!Catchment_approximation/output_data/catchment_delineations/.gitkeep


# LSTM preprocessed data
Global_LSTM/preprocessed_data/dynamic/*
!Global_LSTM/preprocessed_data/dynamic/.gitkeep

Global_LSTM/preprocessed_data/static/*
!Global_LSTM/preprocessed_data/static/.gitkeep


# LSTM outputs
Global_LSTM/output_data/env/approx/*
Global_LSTM/output_data/env/expert/*
Global_LSTM/output_data/env/point/*
!Global_LSTM/output_data/env/.gitkeep
!Global_LSTM/output_data/env/approx/.gitkeep
!Global_LSTM/output_data/env/expert/.gitkeep
!Global_LSTM/output_data/env/point/.gitkeep

Global_LSTM/output_data/rand/*
!Global_LSTM/output_data/rand/.gitkeep

Global_LSTM/plots/*
!Global_LSTM/plots/.gitkeep


# Individual generated output files
Global_LSTM/output_data/parde_coefficent_cluster.csv
Global_LSTM/output_data/all_scores_median.csv